body {
    margin: 0;

}

.scoreboard {

    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    /*width: 100%;*/
    width: 1200px;
    /*margin-left: 0px;*/
    margin-left: auto;
    margin-right: auto;


}

/*tr:nth-child(even)           {background-color:#ecf6fc;  }*/
/*tr:nth-child(odd)           {background-color:white;}*/

.scoreboard thead th {
    background-color: #DDEFEF;
    background-color: deepskyblue;
    color: white;

    border: solid 1px #DDEEEE;
    color: #336B6B;
    color: goldenrod;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
    font: 14px Arial, sans-serif;
}

.scoreboard tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
    font: 12px Arial, sans-serif;

}

.greyLine {
    position: absolute;
    z-index: -2;
    /*width: 100%;*/
    width: 1200px;
    height: 5%;
    background-color: gainsboro;
}

.scoreboard-highlight-all {
    overflow: hidden;
    z-index: 1;
}

.scoreboard-highlight-all tbody td, .scoreboard-highlight-all thead th {
    position: relative;

}

.scoreboard-highlight-all tbody td:hover::before {
    background-color: #CCE7E7;
    background-color: lightgray;
    background-color: #ffa;
    content: '\00a0';
    height: 100%;
    left: -5000px;
    position: absolute;
    top: 0;
    width: 10000px;
    z-index: -1;
}

.scoreboard-highlight-all tbody td:hover::after {
    background-color: #CCE7E7;
    background-color: lightgray;
    background-color: #ffa;
    content: '\00a0';
    height: 10000px;
    left: 0;
    position: absolute;
    top: -5000px;
    width: 100%;
    z-index: -1;
}

.header {
    /*background-color: #ccc;*/
    width: 100%;
    position: fixed;
    top: 0;
    bottom: auto;

}

.firstLayer {
    background-color: #fff;
    position: relative;
    height: 60px;
    z-index: 3;
}

/*.firstLayer .tittle {*/
/*font-size: 36px;*/
/*}*/
.tittle {
    font-size: 36px;
    float: right;
}

.firstLayer .header {
    position: absolute;
    bottom: 0;
    z-index: 4;
    top: auto;

}

@media all and (max-width: 900px) {
    .hide_airline {
        display: none;

    }

}

#plane_arrival:checked ~ * tr.arrival_hidden {
    display: none;

}

#plane_sortie:checked ~ * tr.sortie_hidden {
    display: none;

}

.pic_sortie, .pic_arrival {
    width: 50px;
    height: 20px;
}

.pic_sortie {
    background: url(../images/Airport_icons-02-1282.png) no-repeat;
    background-position: center;

}

.pic_arrival {
    background: url(../images/Airport_icons-03-1282.png) no-repeat;
    background-position: center;
}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 600px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.scoreboard tr td a {
    display: block;
    height: 100%;
    width: 100%;
}

.scoreboard tr td {
    padding-left: 0;
    padding-right: 0;
}


.logo_airline{
    float: right;
}


div .modal_Column {
    -moz-column-count: 2;
    -moz-column-gap: 0px;
    -webkit-column-count: 2;
    -webkit-column-gap: 0px;
    column-count: 2;
    column-gap: 0px;
}

.modal-Line {
    /*border-bottom: solid black 1px;*/
    list-style-type: none;
    width: 300px;
}